.edit {
  padding-top: 35px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.edit__list {
  padding-left: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding-bottom: 35px;
  list-style: none;
}

.edit__item {
  padding-right: 0;

  &--crop {
    padding-right: 36px;
  }

  &--fill {
    padding-top: 2px;
    padding-right: 40px;
  }

  &--contrast {
    padding-top: 2px;
    padding-right: 40px;
  }

  &:last-child {
    padding-right: 0;
  }
}

.edit__svg {
  fill: $navColor;
  opacity: 0.3;

  &:hover {
    opacity: 0.5;
  }

  &--active {
    fill: $pink;
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }
}

.edit__button {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .edit {
    padding: 0;
    min-height: 405px;
    display: flex;
    flex-direction: column;
  }

  .edit__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .edit__item {
    border-bottom: 1px solid #dddfe0;
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 30px;
    width: 271px;

    &--crop {
      padding-bottom: 23px;
      margin-bottom: 24px;
      margin-top: 8px;
    }

    &--fill {
      padding-bottom: 23px;
      margin-bottom: 25px;
    }

    &--contrast {
      padding-bottom: 26px;
      margin-bottom: 0;
    }
  }

  .edit__button {
    padding-right: 0;
    width: 55px;

    &--crop {
      padding-right: 30px;
    }

    &--fill {
      padding-right: 25px;
    }

    &--contrast {
      padding-right: 24px;
    }
  }

  .edit__svg {
    fill: $pink;
    opacity: 1;

    &:hover {
      fill: $pink;
      opacity: 1;
    }

    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .edit__list {
    padding-bottom: 0;
  }

  .edit__item {
    width: 418px;

    &--crop {
      padding-bottom: 11px;
      margin-bottom: 15px;
    }

    &--fill {
      padding-bottom: 13px;
      margin-bottom: 16px;
    }

    &--contrast {
      padding-bottom: 17px;
    }
  }

  .edit__button {
    padding-right: 41px;
    width: 100px;

    &--crop {
      padding-right: 41px;
    }

    &--fill {
      padding-right: 34px;
    }

    &--contrast {
      padding-right: 38px;
    }
  }

  .edit__svg {
    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }
}
