.filter-range {
  padding-bottom: 34px;
  margin: 0;
  border-bottom: 1px solid #dddfe0;
  width: 100%;
  display: flex;
  justify-content: center;

  &--hidden {
    display: none;
  }
}

.filter-range__scale {
  position: relative;
  width: 240px;
  height: 2px;
  background: $text-black;
}

.filter-range__toggle {
  padding: 0;
  position: absolute;
  top: -6px;
  right: 35px;
  width: 14px;
  height: 14px;
  border: solid 2px #d22856;
  border-radius: 50%;
  background-color: #f2f2f2;

  &:hover {
    background-color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .filter-range {
    position: relative;
    padding: 0;
    border: none;
    width: 202px;

    &--hidden {
      display: flex;
    }

    &--active {
      display: none;
    }
  }

  .filter-range__toggle {
    &--crop {
      right: 42px;
    }

    &--fill {
      left: 25px;
    }

    &--contrast {
      right: 92px;
    }
  }
}

@media (min-width: $desktop-width) {
  .filter-range {
    width: 288px;
  }

  .filter-range__scale {
    width: 288px;
  }

  .filter-range__toggle {
    &--crop {
      left: 72px;
    }

    &--fill {
      left: 248px;
    }

    &--contrast {
      right: 113px;
    }
  }
}
