.photo-card {
  margin: 0;
  padding-bottom: 20px;

  &--panorama {
    position: relative;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 100%;
    max-width: 320px;
  }
}

.photo-card__link {
  display: block;
  height: 180px;

  &--panorama {
    height: 137px;
  }
}

.photo-card__img {
  margin: 0 auto;
  display: block;
}

.photo-card__panorama {
  position: absolute;
  right: 20px;
  top: 0;
  padding-top: 5px;
  padding-left: 19px;
  padding-bottom: 7px;
  padding-right: 20px;
  background-color: $pink;
  color: $text-white;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-card__blockquote {
  padding-left: 17px;
  padding-right: 12px;
  padding-top: 17px;
  padding-bottom: 20px;
  text-align: left;
  margin: 0 auto;
  width: 280px;
  background-color: $background-grey;
}

.photo-card__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-card__author-name {
  padding-right: 4px;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: $text-blue;
  font-style: normal;
}

.photo-card__time {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 200;
  line-height: 24px;
  color: $text-blue;
  text-transform: uppercase;
}

.photo-card__comment {
  margin: 0;
  padding-bottom: 11px;
  min-height: 36px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $text-blue;
  text-align: left;
}

.photo-card__number {
  margin: 0;
  padding-left: 19px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;
  text-align: left;
}

.photo-card__like {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .photo-card__panorama {
    top: 57px;
  }

  .photo-card {
    display: flex;
    flex-direction: column;

    &--panorama {
      padding-bottom: 50px;
      max-width: 660px;
    }
  }

  .photo-card__link {
    height: 300px;

    &--panorama {
      height: 509px;
    }
  }

  .photo-card__img {
    &--panorama {
      width: auto;
      height: 509px;
    }
  }

  .photo-card__blockquote {
    padding-top: 24px;
    padding-left: 28px;
    padding-bottom: 22px;
    padding-right: 32px;
    min-height: 130px;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: auto;

    &--panorama {
      position: relative;
      min-height: 80px;
      width: 620px;
      padding-bottom: 11px;
    }
  }

  .photo-card__comment {
    min-height: 61px;
    padding-bottom: 13px;
  }

  .photo-card__like {
    flex-direction: row-reverse;
    justify-content: space-between;

    &--panorama {
      position: absolute;
      top: 25px;
      right: 29px;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .photo-card__number {
    padding-left: 0;

    &--panorama {
      padding-left: 0;
      padding-right: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-card {
    padding-bottom: 54px;

    &--panorama {
      padding-bottom: 50px;
      max-width: 1200px;
    }
  }

  .photo-card__link {
    height: 400px;

    &--panorama {
      height: 506px;
    }
  }

  .photo-card__comment {
    &--panorama {
      min-height: 48px;
    }
  }

  .photo-card__panorama {
    top: 54px;
    right: 130px;
  }

  .photo-card__blockquote {
    padding-bottom: 22px;

    &--panorama {
      width: 940px;
      min-height: 96px;
      padding-bottom: 0;
    }
  }

  .photo-card__img {
    &--panorama {
      height: 506px;
    }
  }

  .photo-card__like {
    &--panorama {
      top: 24px;
      right: 31px;
    }
  }
}
