.publication {
  background-color: $background-grey;
  text-align: center;
}

.publication__form {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.publication__pic {
  flex-shrink: 0;
}

.publication__img {
  padding-top: 20px;
}

.publication__buttons {
  display: flex;
  flex-direction: column;
}

.publication__button {
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 100px;
  padding-right: 100px;
}

.publication__button-post {
  margin-bottom: 12px;
  color: $pink;

  &:hover {
    background-color: $pink;
    color: $text-white;
    border-color: $pink;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.publication__button-cancel {
  margin-bottom: 41px;
  color: rgba(40, 54, 69, 0.1);

  &:hover {
    background-color: transparent;
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    background-color: $navColor;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .publication__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .publication__img {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .publication {
    background-color: $text-white;
  }

  .publication__form {
    background-color: $background-grey;
  }

  .publication__buttons {
    display: flex;
    flex-direction: row;
  }

  .publication__button-post {
    margin-bottom: 0;
    margin-right: 44px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .publication__button-cancel {
    margin-bottom: 0;
    padding-left: 58px;
    padding-right: 54px;
  }
}
