.publication {
  background-color: $background-grey;
  text-align: center;
}

.publication__form {
  padding: 0;
}

.publication__pic {
  flex-shrink: 0;
}

.publication__img {
  padding-top: 20px;
}

.publication__buttons {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
}

.publication__button {
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 85px;
  padding-right: 95px;
  background-color: transparent;
}

.publication__button-post {
  margin-bottom: 12px;
  color: $pink;

  &:hover {
    background-color: $pink;
    color: $text-white;
    border-color: $pink;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.publication__button-cancel {
  margin: 0;
  color: rgba(40, 54, 69, 0.1);

  &:hover {
    background-color: transparent;
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    background-color: $navColor;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .publication {
    padding-top: 58px;
    padding-bottom: 49px;
  }

  .publication__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .publication__img {
    padding-top: 0;
  }

  .publication__buttons {
    padding-top: 0;
  }

  .publication__button-post {
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .publication {
    background-color: $text-white;
    padding: 0;
  }

  .publication__form {
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 53px;
    padding-bottom: 52px;
    background-color: $background-grey;
  }

  .publication__pic {
    padding-top: 4px;
  }

  .publication__buttons {
    display: flex;
    flex-direction: row;
  }

  .publication__button-post {
    margin-bottom: 0;
    margin-right: 42px;
    padding-left: 42px;
    padding-right: 42px;
  }

  .publication__button-cancel {
    margin-bottom: 0;
    padding-left: 56px;
    padding-right: 52px;
  }
}
