.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 36px;
}

.contacts__item {
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 15px;

  &:last-child {
    padding-bottom: 0;
  }

  &--write {
    padding-left: 43px;
    padding-bottom: 20px;
  }
}

.contacts__head {
  margin: 0;
  width: 250px;
  padding-top: 41px;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
  color: $text-blue;
}

.contacts__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contacts__contact {
  text-decoration: none;
  color: $pink;
  font-style: normal;
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;

  &--mail,
  &--call {
    &:hover {
      color: $navColor;
      text-decoration: underline;
    }

    &:active {
      color: rgba(40, 54, 69, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    padding-bottom: 44px;
    padding-left: 58px;

    &--call {
      flex-grow: 1;
    }

    &--write {
      flex-grow: 1;
    }

    &--come {
      flex-grow: 0;
    }
  }

  .contacts__head {
    width: 500px;
    font-size: 40px;
    line-height: 50px;
    padding-top: 43px;
    padding-bottom: 39px;
  }

  .contacts__contact {
    &--address {
      width: 211px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-bottom: 0;
  }

  .contacts__item {
    padding-right: 100px;
    padding-left: 0;

    &--write {
      flex-grow: 1;
      order: 2;
      padding-right: 0;
    }
  }

  .contacts__head {
    font-size: 50px;
    padding-top: 64px;
    padding-bottom: 53px;
    line-height: 60px;
  }

  .contacts__subtitle {
    padding-bottom: 19px;
  }

  .contacts__contact--address {
    width: 211px;
  }
}
