@media (min-width: $tablet-width) {
  .container {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 940px;
    margin: 0 auto;
  }

  .main-nav__container {
    width: 940px;
    margin: 0 auto;
  }

  .publication__container {
    width: 940px;
    margin: 0 auto;
  }
}
