.footer {
  text-align: center;
  &__item {
    padding-left: 44px;
    padding-right: 39px;
    padding-bottom: 28px;
  }
  &__head {
    padding-top: 50px;
    padding-bottom: 44px;
    font-size: 24px;
    font-weight: 200;
    line-height: 30px;
    color: $text-blue;
  }
  &__subtitle {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }
  &__contact {
    text-decoration: none;
    color: $pink;
    font-style: normal;
    font-size: 24px;
    font-weight: 200;
    line-height: 30px;
  }
}

.footer__item:last-child {
  padding-bottom: 0;
}
