.install {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $install-color;
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
}

.install__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  padding-bottom: 28px;
  margin: 0;
}

.install__item {
  padding-right: 34px;

  &:last-child {
    padding-right: 0;
  }

  &--apple {
    padding-top: 30px;
  }

  &--android {
    padding-top: 39px;
  }

  &--windows {
    padding-top: 43px;
  }
}

.install__desc {
  padding: 0;
  margin: 0;
  width: 230px;
  font-size: 14px;
  font-weight: 200;
  line-height: 24px;
  color: $text-white;
}

@media (min-width: $tablet-width) {
  .install {
    padding: 0;
    background: transparent;
    width: 290px;
    position: absolute;
    z-index: 1;
  }
}
