//глобальные стили
body {
  font-family: $fontFamily;
  background-color: &text-white;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 2px 2px 2px rgba(0, 1, 1, 0.2);
}

img {
  max-width: 100%;
  height: auto;
}
