.main-nav {
  background-color: $navColor;
  position: relative;
  z-index: 1;
  width: 100%;

  &--opened {
    background-color: $navColor;
  }

  &--closed {
    background: transparent;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 19px;
  z-index: 2;
  display: block;
}

.main-nav__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

.main-nav__logo {
  padding-top: 22px;
  padding-bottom: 25px;
}

.main-nav__img {
  fill: $text-white;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.15);
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.main-nav__link {
  color: $text-white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  &:hover {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__wrapper {
  border: none;
  box-shadow: none;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    min-height: 110px;
  }

  .main-nav__toggle {
    top: 44px;
  }

  .main-nav__img {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-height: 111px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__wrapper {
    border: none;
    box-shadow: none;
  }

  .main-nav__img {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }

  .main-nav__item {
    border: none;
    box-shadow: none;
    padding-right: 60px;

    &:last-child {
      padding-right: 0;
    }
  }

  .main-nav__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;

    &:hover {
      color: $pink;
    }

    &:active {
      color: $text-white;
      opacity: 0.3;
    }

    &--active {
      border-bottom: 2px solid;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (max-width: $mobile-tablet-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}
