.offers {
  background-color: $background-grey;
  text-align: center;

  &__list {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
    list-style: none;
  }

  &__item {
    padding-bottom: 40px;
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  &__subtitle {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: $text-black;
  }

  &__desc {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #283645;
  }

  &__pic-one {
    height: 280px;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

@media (min-width: $tablet-width) {
  .offers__container {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }

  .offers__list {
    padding-right: 0;
    padding-left: 41px;
  }

  .offers__desc {
    width: 293px;
  }

  .offers__pic-one {
    height: 480px;
    width: 268px;
    background-image: url("../../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .offers__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .offers__list {
    padding: 0;
    padding-top: 51px;
    padding-left: 43px;
    padding-right: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .offers__item {
    padding-bottom: 0;
  }

  .offers__desc {
    width: 190px;
  }

  .offers__subtitle {
    width: 180px;
  }

  .offers__container-pic {
    display: flex;
    flex-direction: row-reverse;
    height: 303px;
    justify-content: space-between;
  }

  .offers__pic {
    width: 268px;
  }

  .offers__pic-one {
    height: 303px;
    background-image: url("../../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
  }

  .offers__pic-two {
    background-image: url("../../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
  }

  .offers__pic-three {
    background-image: url("../../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
  }
}
