.offers {
  &__wrapper {
    padding-top: 46px;
  }

  &__wrapper-list {
    background-color: $background-grey;
    background-image: url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
  }

  &__head {
    margin: 0;
    font-size: 24px;
    font-weight: 200;
    color: $text-blue;
    text-align: center;
  }

  &__head--answer {
    padding-bottom: 35px;
  }

  &__list {
    margin: 0;
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
    list-style: none;
    text-align: center;
  }

  &__item {
    padding-bottom: 30px;
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  &__subtitle {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: $text-black;
  }

  &__desc {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #283645;
  }

  &__pic-one {
    height: 280px;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

@media (min-width: $tablet-width) {
  .offers {
    padding-top: 40px;
  }

  .offers__wrapper {
    padding-top: 59px;
    padding-bottom: 50px;
  }

  .offers__head {
    font-size: 40px;
  }

  .offers__head--answer {
    padding: 0;
  }

  .offers__head--offer {
    padding-left: 30px;
    padding-right: 30px;
  }

  .offers__list {
    padding-bottom: 0;
    padding-top: 70px;
    padding-right: 0;
    padding-left: 41px;
    text-align: left;
  }

  .offers__pic-one {
    height: 480px;
    width: 268px;
    background-image: url("../../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
  }

  .offers__container {
    padding-top: 45px;
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (min-width: $desktop-width) {
  .offers {
    padding-top: 0;
  }

  .offers__container {
    padding-top: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .offers__wrapper {
    padding-top: 78px;
    padding-bottom: 75px;
  }

  .offers__head--offer {
    padding-left: 150px;
    padding-right: 150px;
  }

  .offers__head {
    font-size: 50px;
  }

  .offers__list {
    padding: 0;
    padding-top: 51px;
    padding-left: 43px;
    padding-right: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .offers__item {
    padding-bottom: 0;
  }

  .offers__desc {
    width: 190px;
  }

  .offers__subtitle {
    width: 180px;
  }

  .offers__container-pic {
    display: flex;
    flex-direction: row-reverse;
    height: 303px;
    justify-content: space-between;
  }

  .offers__pic {
    width: 268px;
  }

  .offers__pic-one {
    height: 303px;
    background-image: url("../../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
  }

  .offers__pic-two {
    background-image: url("../../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
  }

  .offers__pic-three {
    background-image: url("../../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
  }
}
