.offers__wrapper {
  padding-top: 40px;
  padding-bottom: 35px;
}

.offers__wrapper-list {
  background-color: $background-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.offers__head {
  margin: 0;
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
  color: $text-blue;
  text-align: center;

  &--answer {
    padding-bottom: 26px;
  }
}

.offers__list {
  margin: 0;
  padding-top: 78px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 9px;
  list-style: none;
  text-align: center;
}

.offers__item {
  padding-bottom: 32px;
}

.offers__subtitle {
  padding: 0;
  margin: 0;
  padding-bottom: 11px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: $text-black;
}

.offers__desc {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
}

.offers__pic-one {
  height: 278px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 51% 0;
}

@media (min-width: $tablet-width) {
  .offers {
    padding-top: 47px;
  }

  .offers__wrapper {
    padding-top: 0;
    padding-bottom: 48px;
  }

  .offers__head {
    font-size: 40px;
    line-height: 50px;

    &--answer {
      padding: 0;
    }

    &--offer {
      padding-left: 30px;
      padding-right: 30px;
      line-height: 47px;
    }
  }

  .offers__subtitle {
    width: 250px;
  }

  .offers__list {
    padding-bottom: 0;
    padding-top: 75px;
    padding-right: 0;
    padding-left: 42px;
    text-align: left;
  }

  .offers__item {
    padding-bottom: 35px;
  }

  .offers__pic-one {
    height: 485px;
    width: 268px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 4px;
  }

  .offers__container {
    padding-top: 0;
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (min-width: $desktop-width) {
  .offers {
    padding-top: 0;
  }

  .offers__container {
    padding-top: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .offers__wrapper {
    padding-top: 66px;
    padding-bottom: 75px;
  }

  .offers__wrapper-list {
    background-position: top 0 center;
  }

  .offers__subtitle {
    width: 230px;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 25px;
  }

  .offers__head {
    font-size: 50px;
    line-height: 60px;

    &--offer {
      padding-left: 150px;
      padding-right: 150px;
    }
  }

  .offers__list {
    padding: 0;
    padding-top: 54px;
    padding-left: 31px;
    padding-right: 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .offers__item {
    padding-bottom: 0;
  }

  .offers__desc {
    font-size: 18px;
    line-height: 30px;
    width: 240px;
  }

  .offers__container-pic {
    display: flex;
    flex-direction: row-reverse;
    height: 303px;
    justify-content: space-between;
  }

  .offers__pic {
    width: 268px;
  }

  .offers__pic-one {
    height: 303px;
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: -25px 0;
  }

  .offers__pic-two {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: -9px 0;
  }

  .offers__pic-three {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 4px 0;
  }
}
