.page-titles {
  padding-top: 46px;

  &__head {
    margin: 0;
    font-size: 24px;
    font-weight: 200;
    color: $text-blue;
    text-align: center;
  }

  &__head--answer {
    padding-bottom: 35px;
  }
}

@media (min-width: $tablet-width) {
  .page-titles {
    padding-top: 59px;
  }

  .page-titles__head {
    font-size: 40px;
  }

  .page-titles__head--answer {
    padding: 0;
  }

  .page-titles__head--offer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-titles {
    padding-top: 78px;
    padding-bottom: 75px;
  }

  .page-titles__head--offer {
    padding-left: 150px;
    padding-right: 150px;
  }

  .page-titles__head {
    font-size: 50px;
  }
}
