.promo {
  background-color: $navColor;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-position: left 0 top -70px;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  &__head {
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    color: $text-white;
  }
  &__img {
    position: absolute;
    bottom: 0;
  }
}

.promo--height {
  height: 200px;
}

.promo__head--height {
  padding-left: 46px;
  padding-right: 46px;
}
