.promo {
  margin-top: -80px;
  background-color: $navColor;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 6px center;
  background-size: 320px 465px;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &--index::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 270px;
    width: 320px;
    height: 287px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

.promo__head {
  margin: 0;
  font-style: 24px;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  color: $text-white;

  &--index {
    font-size: 24px;
    padding-top: 101px;
    padding-bottom: 314px;
    padding-left: 46px;
    padding-right: 46px;
  }

  &--photo {
    font-size: 24px;
    padding-top: 109px;
    padding-bottom: 81px;
    padding-left: 75px;
    padding-right: 75px;
  }

  &--form {
    font-size: 24px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 52px;
    padding-top: 108px;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    margin-top: -110px;
    min-height: 729px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &--height {
      background-size: 1200px auto;
      min-height: 440px;
    }

    &--index::after {
      left: 50%;
      transform: translateX(-53%);
      bottom: 0;
      width: 660px;
      height: 545px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
    }
  }

  .promo__head {
    line-height: 50px;

    &--index {
      font-size: 40px;
      width: 300px;
      padding-top: 200px;
      padding-bottom: 26px;
      padding-left: 55px;
      padding-right: 55px;
    }

    &--photo {
      padding-top: 179px;
      line-height: 60px;
      font-size: 50px;
      width: 515px;
    }

    &--form {
      padding-top: 179px;
      font-size: 50px;
      line-height: 60px;
      width: 600px;
    }

    &--height {
      font-size: 50px;
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2550px auto;
    overflow-x: hidden;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--height {
      min-height: 394px;
    }

    &--index::after {
      right: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 908px;
      height: 645px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
    }
  }

  .promo__head {
    &--form {
      padding-top: 171px;
      width: 840px;
    }

    &--index {
      padding-top: 216px;
      padding-left: 26px;
      padding-right: 51px;
      padding-bottom: 53px;
      width: 325px;
      font-size: 50px;
      line-height: 60px;
    }

    &--photo {
      padding-top: 171px;
    }
  }
}
