.promo {
  position: relative;
  padding-top: 65px;
  color: #283645;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: top center;
  background-repeat: no-repeat;

  &__wrapper {
    min-height: 396px;
    background-image: url("../../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: left 0 bottom 0;
  }

  &__head {
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 45px;
    margin: 0;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    color: $text-white;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    min-height: 530px;
    background: url("../../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: left -40px top 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .promo__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    width: 290px;
    background: none;
  }

  .promo__head {
    padding-top: 0;
    padding-bottom: 58px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 639px;
    background: none;
    background-image: url("../../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: left 20px bottom 0;
  }

  .promo__head {
    font-size: 50px;
  }
}
