.slider__toggle {
  width: 6px;
  height: 6px;
  margin: 0 7px;
  padding: 0;
  background-color: #283645;
  opacity: 0.3;
  border-radius: 50%;
  border: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &--active {
    border: 3px solid #283645;
    opacity: 1;
    background-color: $text-white;
    border-radius: 50%;
    box-sizing: content-box;
  }

  &--active:hover,
  :active {
    opacity: 1;
  }
}

.slider__button {
  border: none;
  background-color: $text-white;
  cursor: pointer;

  &--left {
    position: absolute;
    top: 213px;
    left: -7px;
  }

  &--right {
    position: absolute;
    top: 213px;
    right: -7px;
  }
}

.slider__item {
  position: relative;
}

.slider__arrow {
  fill: $navColor;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
