.tariffs {
  min-height: 600px;
  background-color: $background-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.tariffs__svg {
  display: block;
}

.tariffs__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
}

.tariffs__toggles {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.tariffs__main-cell {
  border: none;
  border-right: 2px solid #e5e5e5;
  background-color: $text-blue;
  color: $text-white;
  padding-top: 23px;
  padding-bottom: 21px;
  min-width: 276px;

  &:last-child {
    border-right: none;
  }

  &--standart {
    position: relative;
  }

  &--standart::before {
    position: absolute;
    content: "хит";
    height: 10px;
    width: 28px;
    top: 20px;
    left: 9px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d22856;
    transform: rotate(-45deg);
    z-index: 2;
  }

  &--standart::after {
    position: absolute;
    content: "";
    height: 80px;
    width: 80px;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
  }
}

.tariffs__name {
  padding-bottom: 12px;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.tariffs__desc {
  margin: 0;
}

.tariffs__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 22px;
  padding-right: 18px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.tariffs__price {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
}

.tariffs__cell {
  border: 2px solid #e5e5e5;
  border-top: none;
  padding: 0;
  background-color: $text-white;
  color: $text-blue;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.tariffs__main-cell--empty {
  display: none;
}

.tariffs__cell--first {
  display: none;
}

@media (min-width: $tablet-width) {
  .tariffs__main-cell {
    padding-top: 16px;
    padding-bottom: 12px;
    min-width: 152px;
  }

  .tariffs__cell {
    text-transform: none;
  }

  .tariffs__wrapper {
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;

    &--flex-start {
      justify-content: flex-start;
      padding-left: 15px;
      padding-right: 21px;
    }
  }

  .tariffs__name {
    font-size: 16px;
  }

  .tariffs__price {
    font-size: 18px;
  }

  .tariffs__main-cell--empty {
    border: none;
    display: block;
    background-color: inherit;
  }

  .tariffs__cell--first {
    border-top: 2px solid #e5e5e5;
    display: table-cell;
  }

  .tariffs__toggles {
    display: none;
  }

  .tariffs__svg--hidden {
    display: none;
  }

  .tariffs__desc--hidden {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__wrapper {
    padding-top: 22px;
    padding-bottom: 18px;

    &--flex-start {
      padding-left: 24px;
      padding-right: 61px;
    }
  }

  .tariffs__main-cell {
    padding-top: 23px;
    padding-bottom: 23px;
    min-width: 234px;
  }

  .tariffs__cell {
    text-transform: none;
    font-size: 18px;
    min-width: 234px;
  }

  .tariffs__name {
    font-size: 18px;
  }

  .tariffs__price {
    font-size: 24px;
  }
}
