.custom-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-bottom: 50px;
  width: 275px;

  &:last-child {
    padding-bottom: 0;
  }
}

.custom-checkbox__label {
  position: relative;
  font-size: 18px;
  color: $text-blue;
  padding: 0;
  padding-left: 75px;
  padding-top: 7px;
  text-transform: none;
}

.custom-checkbox__input + .custom-checkbox__indicator {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
  border: 2px solid #e5e5e5;
  background-color: $text-white;
  margin-left: 5px;

  &:hover:not(:disabled) {
    border-color: $navColor;
  }

  &:active {
    border-color: $pink;
  }
}

.custom-checkbox__label input[type="checkbox"]:focus + .custom-checkbox__indicator {
  outline: 2px solid $navColor;
}

.custom-checkbox__label input[type="checkbox"]:disabled + .custom-checkbox__indicator {
  opacity: 0.3;
}

.custom-checkbox__input:checked + .custom-checkbox__indicator {
  background-image: url("../img/tick-svg.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .custom-checkbox {
    padding-left: 39px;
    width: 305px;
  }

  .custom-checkbox__label {
    padding-left: 64px;
  }
}

@media (min-width: $desktop-width) {
  .custom-checkbox {
    width: 293px;
    padding-bottom: 49px;
    padding-left: 23px;

    &:last-child {
      padding-bottom: 47px;
    }

    &--selfie {
      padding-left: 0;
      order: 1;
    }

    &--burnt {
      padding-left: 0;
      order: 4;
    }

    &--chuck-norris {
      order: 2;
    }

    &--souvenirs {
      order: 5;
    }

    &--tower {
      order: 3;
    }

    &--hotel {
      order: 6;
    }
  }
}
