.form {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  margin-bottom: 40px;
  border: none;

  &--checkbox {
    padding-top: 42px;
    padding-bottom: 44px;
    background-color: $background-grey;
  }

  &--name {
    padding-bottom: 0;
    padding-top: 0;
    order: 1;
  }

  &--contacts {
    order: 3;
  }

  &--checkbox-application {
    order: 4;
  }

  &--checkbox-achievements {
    order: 2;
  }

  &--text {
    margin-bottom: 0;
    order: 5;
    padding-top: 19px;
    display: flex;
    justify-content: center;
  }
}

.form__legend {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
  text-align: center;

  &--contacts {
    display: none;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 52px;
  order: 6;
}

.form__prompt {
  margin: 0;
  padding-top: 46px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-blue;
}

.form__star {
  color: $pink;
}

.custom-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 29px;

  &:last-child {
    padding-bottom: 0;
  }

  &--checkbox {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.custom-input__label {
  padding-bottom: 16px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;

  &--checkbox {
    font-size: 18px;
    color: $text-blue;
    padding: 0;
    padding-left: 33px;
    text-transform: none;
  }
}

.custom-input__input {
  margin-bottom: 29px;
  padding-top: 18px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $text-blue;
  border: 2px solid #e5e5e5;

  &:last-child {
    margin-bottom: 0;
  }
}

.custom-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 197px;
  padding-top: 23px;
  padding-left: 19px;
  padding-right: 28px;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $text-blue;
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    margin-bottom: 62px;
  }

  .form__prompt {
    padding: 0;
  }

  .form__fieldset:not(.form__fieldset--name) {
    border: 2px solid #e5e5e5;
  }

  .form__legend {
    display: inline;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0;
  }

  .form__fieldset--name {
    order: 1;
  }

  .form__fieldset--checkbox-achievements {
    order: 4;
  }

  .form__fieldset--contacts {
    order: 3;
    padding-top: 29px;
    padding-bottom: 33px;
  }

  .form__fieldset--checkbox-application {
    order: 2;
  }

  .form__fieldset--text {
    margin-bottom: 0;
    order: 5;
    padding-top: 40px;
    padding-bottom: 53px;
  }

  .form__button-wrapper {
    padding-top: 71px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 6;
  }

  .custom-input--name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 56px;
  }

  .custom-input__label--name {
    padding: 0;
    padding-right: 22px;
  }

  .custom-input__label--contacts {
    padding-bottom: 0;
  }

  .custom-input--contacts {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 60px;
    padding-right: 60px;
  }

  .custom-input--checkbox {
    padding-bottom: 47px;
    padding-left: 59px;
  }

  .custom-input__input {
    width: 100%;
  }

  .form__fieldset--checkbox {
    padding-top: 35px;
    padding-bottom: 56px;
    background-color: $text-white;
  }

  .form-item__textarea {
    width: 496px;
    margin-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .custom-input--contacts {
    padding-bottom: 0;
  }
}
