.form {
  padding-bottom: 16px;
}

.form__span {
  display: none;
}

.form__fieldset {
  border: none;
  margin-left: 0;
  margin-right: 0;

  &--checkbox {
    padding-top: 38px;
    padding-bottom: 44px;
    margin-bottom: 33px;
    background-color: $background-grey;
  }

  &--radio {
    padding-top: 37px;
    padding-bottom: 49px;
    margin-bottom: 18px;
    background-color: $background-grey;
  }

  &--name {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 42px;
  }

  &--contacts {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 42px;
  }

  &--text {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 19px;
  }
}

.form__legend {
  margin: 0;
  padding-bottom: 37px;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
  text-align: center;

  &--contacts {
    display: none;
  }

  &--text {
    padding-bottom: 17px;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 47px;
  order: 6;
}

.form__prompt {
  margin: 0;
  padding-top: 34px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-blue;
}

.form__star {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
    padding-bottom: 49px;
  }

  .form__fieldset {
    position: relative;
    margin-bottom: 66px;

    &:not(.form__fieldset--name) {
      border: 2px solid #e5e5e5;
    }

    &--name {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      order: 1;
    }

    &--checkbox {
      padding-top: 51px;
      padding-bottom: 54px;
      background-color: $text-white;
      order: 4;
    }

    &--contacts {
      order: 3;
      padding-top: 43px;
      padding-bottom: 26px;
    }

    &--radio {
      padding-top: 52px;
      padding-bottom: 62px;
      background-color: $text-white;
      order: 2;
    }

    &--text {
      margin-bottom: 0;
      order: 5;
      padding-top: 45px;
      padding-bottom: 51px;
      padding-left: 56px;
      padding-right: 35px;
    }
  }

  .form__prompt {
    padding: 0;
  }

  .form__legend {
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 0;
    background-color: $text-white;
    min-width: 185px;
    white-space: nowrap;
  }

  .form__button-wrapper {
    padding-top: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 6;
  }

  .form-item__textarea {
    width: 496px;
    margin-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-bottom: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .form__span {
    display: inline;
  }

  .form__fieldset {
    &--name {
      flex-grow: 1;
      padding-right: 71px;
      padding-top: 5px;
    }

    &--contacts {
      width: 100%;
      padding-top: 41px;
      padding-bottom: 13px;
    }

    &--text {
      width: 100%;
      flex-grow: 1;
      padding-top: 41px;
      padding-bottom: 42px;
    }

    &--checkbox {
      width: 100%;
      padding-bottom: 12px;
      padding-left: 51px;
      padding-right: 0;
    }

    &--radio {
      padding-left: 66px;
      padding-right: 160px;
      padding-top: 55px;
    }
  }

  .form__fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form__fieldset-wrapper-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .form__legend {
    padding-right: 25px;
    padding-left: 25px;
  }

  .form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__button-wrapper {
    flex-grow: 1;
  }
}
