.form__fieldset {
  border: none;

  &--checkbox {
    padding-top: 42px;
    padding-bottom: 44px;
    margin-bottom: 41px;
    background-color: $background-grey;
  }

  &--radio {
    padding-top: 42px;
    padding-bottom: 44px;
    margin-bottom: 41px;
    background-color: $background-grey;
  }

  &--name {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 44px;
  }

  &--contacts {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 44px;
  }

  &--text {
    margin-bottom: 0;
    padding-top: 19px;
  }
}

.form__legend {
  padding-bottom: 42px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
  text-align: center;

  &--contacts {
    display: none;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 52px;
  order: 6;
}

.form__prompt {
  margin: 0;
  padding-top: 46px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-blue;
}

.form__star {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__fieldset {
    position: relative;
    margin-bottom: 49px;
  }

  .form__prompt {
    padding: 0;
  }

  .form__fieldset:not(.form__fieldset--name) {
    border: 2px solid #e5e5e5;
  }

  .form__legend {
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0;
    background-color: $text-white;
  }

  .form__fieldset--name {
    order: 1;
  }

  .form__fieldset--checkbox {
    padding-top: 35px;
    padding-bottom: 56px;
    background-color: $text-white;
    order: 4;
  }

  .form__fieldset--contacts {
    order: 3;
    padding-top: 29px;
    padding-bottom: 33px;
  }

  .form__fieldset--radio {
    padding-top: 35px;
    padding-bottom: 56px;
    background-color: $text-white;
    order: 2;
  }

  .form__fieldset--text {
    margin-bottom: 0;
    order: 5;
    padding-top: 40px;
    padding-bottom: 53px;
  }

  .form__button-wrapper {
    padding-top: 71px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 6;
  }

  .form-item__textarea {
    width: 496px;
    margin-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .form__fieldset--contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .form__fieldset--text {
    width: 100%;
    flex-grow: 1;
  }

  .form__fieldset--checkbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
  }

  .form__fieldset--radio {
    padding-left: 75px;
    padding-right: 165px;
  }

  .form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__button-wrapper {
    flex-grow: 1;
  }
}
